{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/LFLogoDark.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    <!-- MailerLite Universal -->
    <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1864694', 'l4q9w7w8g9', 'load');
    </script>
    <!-- End MailerLite Universal -->    

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {# TODO: uncomment when live #}
        {% do assets.addJs('https://www.googletagmanager.com/gtag/js?id=UA-132830873-1', 99) %}
        {% do assets.addJs('theme://js/google-analytics.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                {# <i class="fa fa-rebel"></i> #}
                <img id="mainlogo" src="{{ url('theme://images/LFLogo.png') }}" /> 
                <span id="logotext">{{ config.site.title }}</span>
            </a>
            {% block header_navigation %}
            <nav id="main-nav" class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p>
                Made with <a href="http://getgrav.org">Grav</a>
                - Social Media:
                <span class="social-media-links">
                    <a href="https://github.com/l33tllama"><span class="fa fa-github"/></a>
                    <a href="https://twitter.com/leofebey"><span class="fa fa-twitter"/></a>
                    <a href="http://au.linkedin.com/pub/leo-febey/66/ab1/36b/en"><span class="fa fa-linkedin"/></a><br/>
                    <span class="fa fa-btc"></span>&nbsp;<span class="force-normal-text">
                        My Bitcoin address: 38LTU4WDxWeFUe5g1yjyv5vEMTCmH2eeWK
                    </span>
                    <!--<a href="https://www.facebook.com/leonaardo"><span class="fa fa-facebook"/></a>
                    <a href="http://www.instagram.com/l33tllama"><span class="fa fa-instagram"/></a>
                    
                    
                    <a href="https://www.youtube.com/user/3l33tllama"><span class="fa fa-youtube"/></a>
                    <a href="http://google.com/+LeoFebey"><span class="fa fa-google-plus"/></a>
                    <a href="http://www.last.fm/user/l33tllama"><span class="fa fa-lastfm"/></a>
                    <a href="http://steamcommunity.com/id/l33t_llama/"><span class="fa fa-steam"/></a>
                    <a href="http://www.reddit.com/user/l33tllama/"><span class="fa fa-reddit"/></a>-->

                </span>
            </p>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '335429257582933');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=335429257582933&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</body>
</html>
