

{# {% set collection = page.find('/portfolio').children() %} #}
{% set collection = taxonomy.findTaxonomy({'tag':'featured'}) %}

{% set taxlist = taxonomylist.get() %} 

<section class="portfolio-items text-center">
	<div class="container">
		<div class="row">
			<div class="">
			{{page.content}}
				<div class="portfolio-wrapper">
				{% for child in collection %}
					<a class="portfolio-entry col-md-3 wp2 portfolio-{{ loop.index }} {% if vcenter %}vcenter{% endif %}" href="{{child.url}}" {% if ext_links %}target='_blank'{% endif %} style="background-color:{{ child.header.banner_color }}">
						<div class="portfolio-info">
							<h2 class="portfolio-title">{{child.title}}</h2>
							<p class="portflio-tags">{{ child.taxonomy.category|join(', ') }}</p>
							<p class="portfolio-item">{{child.content_brief}}</p>
						</div>

						{% set blog_image = child.media.images|first %}
						<div class="portfolio-image" style="background-image: url({{ blog_image.url }});animation-duration:{{ random(['1.5s', '1s', '0.5s','2s']) }}"></div>
					</a>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
